/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
  color: #052946;
}

.nav-left a {
  margin-right: 20px;
  text-decoration: none;
  color: #052946;
  font-size: 14px;
}

header .logo a{
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #052946;
}

.btn {
  background: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
}

.order-button {
    background: #006c99;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
}

/* HERO */
.hero {
  position: relative;
  background: #052946;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* TEXT */
.hero-content {
  text-align: center;
  color: white;
  max-width: 600px;
  z-index: 2;
}

.hero-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.cta {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  color: white;
  background:  #006c99;
  cursor: pointer;
  font-size: 16px;
}

/* DRINK IMAGES */
.drink {
  position: absolute;
  bottom: 0;
  width: 300px;
}

.left {
  left: -50px;
}

.right {
  right: -50px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 36px;
  }

  .drink {
    width: 200px;
    opacity: 0.7;
  }
}















.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
    position: absolute;
    left: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    right: 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}


/* best sellers */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
}

/* Section */
.best-sellers {
    text-align: center;
    padding: 60px 20px;
}

.best-sellers h1 {
    color: #006c99;
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    max-width: 600px;
    margin: 0 auto 40px;
    color: white;
    line-height: 1.6;
}

/* Products row */
.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Card */
.card {
    width: 180px;
    text-align: center;
}

/* Image box */
.card img {
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    background: linear-gradient(to bottom, #006c99, #e6e6e6);
    height: 250px;       /* same height for all */
    object-fit: cover;   /* keeps image nice */
}


/* Text */
.card h3 {
    margin-top: 15px;
    font-size: 16px;
    color: white;
}

/* Highlight middle card */
.highlight img {
    background: linear-gradient(to bottom, #006c99, #052946);
}

.highlight h3 {
    color: white;
    font-weight: bold;
}

/* Button */
.all-btn {
    margin-top: 40px;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: #006c99;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


  .promo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 50px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }

  .promo-text {
    flex: 1;
    padding-right: 30px;
  }

  .promo-title {
    font-size: 36px;
    margin: 0;
    color: #222;
  }

  .promo-subtitle {
    font-size: 20px;
    margin: 15px 0;
    color: #555;
  }

  .promo-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background:#006c99;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
  }

  .promo-button:hover {
    background: #004d66;
  }

  .promo-image {
    flex: 1;
    text-align: right;
  }

  .promo-image img {
    max-width: 100%;
    border-radius: 12px;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .promo-container {
      flex-direction: column;
      text-align: center;
    }

    .promo-text {
      padding-right: 0;
    }

    .promo-image {
      text-align: center;
      margin-top: 20px;
    }
  }


.copy-right {
    text-align: center;
    padding: 20px;
    background: white;
    color: #052946;
}
